# Xcode
.DS_Store
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Temporary and Backup Files
*.swp
*.swo
*~
